<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Coches Santiago</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>

<body>
    {% block contenido %}
    <h1>Listado de Automóviles</h1>
    <div class="container">
        <div class="row">
            <table class="table">
                <thead>
                    <a href="{% url 'crear_automovil' %}" class="btn btn-primary">Crear Automóvil</a>
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                                {{ message }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% endfor %}
                    {% endif %}
                    <tr>
                        <th scope="col">Patente</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Imagen</th>
                    </tr>
                </thead>
                <tbody>
                    {% for automovil in automoviles %}
                    <tr>
                        <td><img src="{{ automovil.imagen.url }}" width="100"></td>
                        <th scope="row">{{ automovil.patente }}</th>
                        <td>{{ automovil.nombre_automovil }}</td>
                        <td>{{ automovil.descripcion_automovil }}</td>
                        <td>${{ automovil.precio }}</td>
                        <td>
                            <a href="{% url 'editar_automovil' patente=automovil.patente %}" class="btn btn-primary">Editar</a>
                            <a href="{% url 'eliminar_automovil' patente=automovil.patente %}" class="btn btn-danger">Eliminar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
</body>

</html>

