<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Coches Santiago</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'inicio' %}">
                <img src="imgs/car.jpg" width="35px" alt="">
                Coches Santiago</a>
        </div>
        </div>
    </nav>

    <form id="form_rec">
        <a>Para recuperar su contraseña, ingrese su usuario y correo electrónico</a>
        <div class="mb-3 col-10 col-sm-6 col-md-4 ">
            <label for="usuario" class="form-label">Usuario</label>
            <input type="username" class="form-control" id="usuario">
        </div>
        <div class="mb-3 col-10 col-sm-6 col-md-4 ">
            <label for="correo" class="form-label">Correo electrónico</label>
            <input type="email" class="form-control" id="correo">
        </div>
        <button type="submit" class="btn btn-primary">Recuperar contraseña</button>
    </form>
</body>

<script>
    const formulariorec = document.getElementById('form_rec');

    const usuarioinput = document.getElementById('usuario');
    const correoinput = document.getElementById('correo');


    formulariorec.addEventListener('submit', function (event) {
        event.preventDefault();

        if (usuarioinput.value === '' || correoinput.value === '') {
            alert('Ninguno de los campos tiene que estar vacio');
            return;
        }

        alert('la contraseña se ha recuperado correctamente, revise su correo electrónico');
        formulariorec.submit();
    });

</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    </script>


</html>